*.o
*.obj
*.res
*.aps
*.exe
*.exe.manifest
*.manifest
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.idb
*.ipdb
*.iobj
*.tlog
*.lastbuildstate

build/
dist/
out/
x64/
x86/
Debug/
Release/
.vs/

.vscode/
.idea/
*.user
*.suo
*.swp
*.swn

config.ini
sessions.ini
log/
logs/
