#include "resource.h"
#include "app_version.h"
#include "winres.h"

/////////////////////////////////////////////////////////////////////////////
// 한국어(대한민국) 리소스
#pragma code_page(65001) // UTF-8 인코딩 사용

LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// 여기서 IDI_ICON1은 resource.h에 정의된 숫자와 일치해야 합니다.
// "ktin.ico" 파일이 main.cpp와 같은 폴더에 있어야 합니다.
IDI_ICON1               ICON                    "ktin.ico"

// MinGW 빌드에서도 Common Controls v6 manifest를 exe에 직접 포함합니다.
// 외부 ktin.exe.manifest 파일이 빠져도 더블클릭 실행 시 초기화가 깨지지 않게 합니다.
1                       24                      "ktin.exe.manifest"
// MudDunggeunmo-Regular.ttf를 소스 폴더에 두고 빌드하면 exe 안에 포함됩니다.
// 폰트 파일이 없으면 build_msvc.bat가 HAVE_EMBEDDED_FONT를 정의하지 않으므로
// 이 리소스는 빠지고 일반 빌드로 진행됩니다.
#ifdef HAVE_EMBEDDED_FONT
IDR_MY_CUSTOM_FONT RCDATA "MudDunggeunmo-Regular.ttf"
#endif

/////////////////////////////////////////////////////////////////////////////
//
// Version (실행 파일 버전 정보)
//

1 VERSIONINFO
FILEVERSION KTIN_APP_VER_MAJOR, KTIN_APP_VER_MINOR, KTIN_APP_VER_PATCH, KTIN_APP_VER_BUILD
PRODUCTVERSION KTIN_APP_VER_MAJOR, KTIN_APP_VER_MINOR, KTIN_APP_VER_PATCH, KTIN_APP_VER_BUILD
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "041204b0" // 언어: 한국어(0412), 인코딩: 유니코드(04b0)
BEGIN
VALUE "CompanyName", "울보천사\0"
VALUE "FileDescription", "Ktin: TinTin++ GUI Client\0"
VALUE "FileVersion", KTIN_APP_VERSION_TEXT_RC
VALUE "InternalName", "ktin.exe\0"
VALUE "LegalCopyright", "Copyright (C) 2026 울보천사. All rights reserved.\0"
VALUE "OriginalFilename", "ktin.exe\0"
VALUE "ProductName", "Ktin: TinTin++ GUI Client\0"
VALUE "ProductVersion", KTIN_APP_VERSION_TEXT_RC
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x412, 1200 // 0x412(한국어), 1200(유니코드)
END
END